body {
  background-color: #d88da1;
}

.header {
  background-color: #ca6883;
  height: 25px;
  width: 100%;
}

.main {
  text-align: center;
  margin-top: 30px;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2em;
  color: #ca6883;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
}

.github {
  text-decoration: none;
  color: #ca6883;
  margin-top: 50px;
}

#id {
  text-decoration: none;
  color: #d88da1;
}

progress {
    margin-top: 15px;
   -webkit-appearance: none;
}

progress[value]::-webkit-progress-bar {
  background-color: #d88da1;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress::-webkit-progress-bar-value {
  -webkit-appearance: none;
  background-color: #ca6883;
}

progress[value]::-webkit-progress-value {
    background-color: #ca6883;
    border-radius: 2px; 
    background-size: 35px 20px, 100% 100%, 100% 100%;
}

.footer {
  color: #d88da1;
  font-family: 'Open Sans', sans-serif;
  background-color: #ca6883;
  bottom: 0;
  height: 100px;
  position: fixed;
  width: 100%;
  padding: 10px;
  text-align: center;
}

a {
  text-decoration: none;
  color: ##ca6883;
}

